.body{
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100vw;
    margin-bottom: 50px;
}
.Container{
    max-width: 300px;
    margin: auto;
    position: relative;
    
}
.cardFront, .cardBack{
    width: 280px;
    color: hsl(0, 0%, 100%);
    position: absolute;
}
.cardFront{
    z-index: 1;
    top: 139px;
    right: 48px;
   
}
.cardBack{
    top: 50px;
    right: 0px;
}

.cardFront img, .cardBack img{
    width: 100%;
}
.cardFront p {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
}
.cardBack p {
    position: absolute;
    top: 40%;
    right: 20%;
    transform: translateX(50%);
}
.nameContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: absolute;
    top: 80%;
    right: 50%;
    transform: translateX(50%);
}


@media (min-width: 545px ){
    .Container {
        max-width: 400px;
    }
    .body{
        height: 50vh;
        margin-bottom: 10em;
    }
    .cardFront, .cardBack{
        width: 400px;
    }
    .cardFront{
        top: 183px;
        right: 48px;
       
    }
}

@media (min-width: 980px){
    .body{
        background-image: url(../images/bg-main-desktop.png);
        height: 100vh;
        width: 30vw;
    }
    .cardFront{
        z-index: 1;
        top: 117px;
        right: -132px;
       
    }
    .cardBack{
        top: 368px;
        right: -206px;
    }
}


