@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
}

 /* .App{
    width: 100vw;
} */


  
  @media (min-width: 980px){
    .container{
      height: 100vh;
      display: flex;
    }
  } 